# Sample localrc file
#
# cp .localrc.sample .localrc

export COLOR_HOST=$COLOR_BROWN

# export DOCKER_IMAGE_ELIXIR=splattael/elixir
# export DOCKER_HOME_DIR=$HOME/docker

# GitLab
export EXPERIMENTAL_PUMA=1
export GDK_RUNIT=1
export GITLAB_API_ENDPOINT=https://gitlab.com/api/v4
export GITLAB_API_PRIVATE_TOKEN=
