# custom snippets

snippet test
	test "${1}" do
		${2}
	end

snippet con
	context "${1}" do
		${2}
	end

snippet it
	it "${1}" do
		${2}
	end

snippet des
	describe ${1} do
		${2}
	end

snippet let
	let(:${1}) { ${2} }

snippet dbg
	p :DBG => { ${1} }
